MAPPER_LLM_BASE_URL=
MAPPER_LLM_API_KEY=
MAPPER_LLM_MODEL=azure/gpt-4.1

MAPPER_DB_HOST=localhost:5433
MAPPER_DB_NAME=research_mapper
MAPPER_DB_USER=research_mapper
MAPPER_DB_PASSWORD=research_mapper

# The DESTINY repository to search
MAPPER_DESTINY_ENV=staging
# Written by `uv run python -m research_mapper login`. 
MAPPER_DESTINY_REFRESH_TOKEN=
