# DESTINY repo variables
DESTINY_BASE_URL=
DESTINY_AZURE_CLIENT_ID=
DESTINY_AZURE_LOGIN_URL=
DESTINY_AZURE_APPLICATION_ID=
DESTINY_SEARCH_ENDPOINT=/v1/references/search/
# Language model variables
OPENAI_API_BASE=
OPENAI_API_KEY=
LLM_MODEL=azure/gpt-4.1
